@mixin flexible{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    color: $tWhite;
    font-size: 40px;
}
#cta{
    @include flexible();
    background: $tertiaryColor;
    
}
#cta2{
    @include flexible();
    background: $secondaryColor;
    
}